apiVersion: v1
kind: Service
metadata:
  name: zipkin-service
  namespace: microservices
spec:
  type: ClusterIP  # ← Cambiar aquí
  selector:
    app: zipkin
  ports:
    - port: 9411
      targetPort: 9411