apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-config
  namespace: microservices
  labels:
    app: cloud-config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-config
  template:
    metadata:
      labels:
        app: cloud-config
    spec:
      containers:
        - name: cloud-config
          image: gab27x/cloud-config:dev
          ports:
            - containerPort: 9296
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"

            # Zipkin
            - name: SPRING_ZIPKIN_BASE_URL
              value: "http://zipkin-service:9411"

            # Eureka
            - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
              value: "http://service-discovery:8761/eureka/"

            # Required by your centralized config
            - name: EUREKA_INSTANCE
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP

            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "true"

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 9296
            initialDelaySeconds: 90
            periodSeconds: 15
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 9296
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
