apiVersion: v1
kind: Service
metadata:
  name: service-discovery
  namespace: microservices
spec:
  type: ClusterIP
  selector:
    app: service-discovery
  ports:
    - port: 8761
      targetPort: 8761