apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: microservices
  labels:
    app: payment-service
spec:
  type: ClusterIP
  ports:
    - port: 8400
      targetPort: 8400
      protocol: TCP
      name: http
  selector:
    app: payment-service